@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fdfbf7;
  --foreground: #2d3748;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
